// Colores
    $naranja : hsl(25, 97%, 53%);
    $blanco : hsl(0, 0%, 100%);
    $grisClaro : hsl(217, 12%, 63%);
    $grisMedio : hsl(216, 12%, 54%);
    $azulOscuro: hsl(213, 19%, 18%);
    $azulNegro: hsl(216, 12%, 8%);

// Fuentes
    $overpass: 'Overpass', sans-serif;
